.body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}


.sub-header {
    background-color: #2D336B;
    height: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    padding-top: 30px;
}

.title {

    font-size: 40px;
    font-weight: 900;
}

.align-center {
    text-align: center;
}

.section-1 {
    padding: 80px 150px 80px 150px;
}

.accordion-text {
    font-size: 20px;
    font-weight: 600;
}

.section-2 {
    height: 800px;
    padding: 80px 150px 80px 150px;
}

.contact-card {
    height: 500px;
    background-color: #A9B5DF;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    padding: 40px 70px 40px 70px;
}

.sub-title {
    font-size: 30px;
    font-weight: 700;
}

.form-control {
    margin: 20px 0px 20px 0px;
}

.sbtn-primary {
    border: none;
    background-color: white;
    color: black ;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 14px;
}

.sbtn-primary:hover {
    box-shadow: 0 0 5px 1px #2d336b52;
}
