<div class="footer">
    <footer>
        <div class="footer-1">
            <a href="index.html"><img src="./assets/images/savora-logo.png" class="logo"></a>
        </div>
        <div class="footer-2">
            <div>
                <div class="title-small">Customer Service</div>
                <div class="footer-contact-text">+60 488 6969</div>
                <div class="footer-text">Mon-Fri, 8:30 - 16:30 MYT</div>
                <button class="sbtn-outline">Online Inquiry</button>
                <div class="footer-contact-text-email">cs@my.savora.com</div>
            </div>
            <div>
                <div class="title-small">About Savora</div>
                <a href="index.html"><div class="footer-text">About Savora</div></a>
                <a href="#"><div class="footer-text">Newsroom</div></a>
            </div>
            <div>
                <div class="title-small">Terms & Conditions</div>
                <a href="#"><div class="footer-text">Terms of Use</div></a>
                <a href="#"><div class="footer-text">Privacy Policy</div></a>
                <a href="#"><div class="footer-text">Terms and Agreements</div></a>
            </div>
            <div>
                <div>
                    <div class="title-small">Careers / Contact:</div>
                    <a href="#"><div class="footer-text">Apply Now</div></a>
                    <div class="footer-text">hr@my.savora.com</div>
                </div>
                <div class="footer2-col3-social">
                    <div class="title-small">Follow us on</div>
                    <a href="#"><span class="bi bi-facebook"></span></a>
                    <a href="#"><span class="bi bi-instagram"></span></a>
                    <a href="#"><span class="bi bi-linkedin"></span></a>
                    <br>
                    <a href="#"><span class="bi bi-twitter-x"></span></a>
                    <a href="#"><span class="bi bi-telegram"></span></a>
                </div>
            </div>
        </div>
        <div class="footer-3">
            <div class="footer-text">Investment Disclaimer   Investing involves risk, and past performance does not guarantee future results. Always conduct thorough research and consult with financial professionals before making any investment decisions. Your financial goals and risk tolerance should guide your choices.</div>
            <div class="footer-text">Copyright © 2025 Savora Technologies Inc. All Rights Reserved.</div>
        </div>
    </footer>
</div>