<div  class="header">
    <header>
        <div class="header-div">
            <div>
                <!-- Change the path according to your location -->
                <a href="index.html"><img src="./assets/images/savora-logo.png" class="logo"></a> 
                <div class="nav-bar">
                    <nav>
                        <a href="index.html" class="">Home</a>
                        <a href="about.html" class="">About Us</a>
                        <a href="help.html" class="">Help</a>
                    </nav>
                </div>
            </div>
            <div>
                <button class="sbtn-outline">Sign up/Log in</button>
            </div>
            
        </div>
    </header>
</div>