<!-- Copy the below html code -->
<!-- Remember to change the active class depending on the page you design -->
<!-- Remember to link navbar.css, bootstrap, bootstrap icon and header.js -->

<div  class="header">
    <header>
        <div class="header-div">
            <div>
                <a href="#"><img src="../assets/images/savora-logo.png" class="logo"></a>
                <div class="nav-bar">
                    <nav>
                        <a href="#" class="">Dashboard</a>
                        <a href="#" class="">Strategy</a>
                        <a href="#" class="">Market Insight</a>
                        <a href="calculator.html" class="">Calculator</a>
                        <a href="education.html" class="active">Learning</a>
                        <a href="#" class="">AI Chatbot</a>
                    </nav>
                </div>
            </div>
            <div>
                <button class="sbtn-outline"><span class="bi bi-person-circle"></span>Elon Musk</button>
            </div>
        </div>
    </header>
</div>